.pagination {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

.items {
  display: flex;
}

.selected {
  font-size: 30px;
}

[class='selected'] {
  color: #fff;
  background-color: #000;
}

.pagination li:not(:last-child) {
  margin-right: 5px;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  padding: 8px 16px;
  border: 1px solid #e2e2e2;
}

.pagination > li[class='selected'] > a {
  background-color: #000;
  border-color: #000;
  cursor: pointer;
}

.pagination > li > a:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
/* ! */
/* .pagination {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 25px;
  background-color: #fff;
  cursor: pointer;
}

ul.pagination li:not(:last-child) {
  margin-right: 5px;
}

ul.pagination li:hover,
ul.pagination li a {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #000;
}

ul.pagination li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

ul.pagination li[class='selected'] a {
  color: white;
}
ul.pagination li[class='selected'] {
  background-color: #000;
}

ul.pagination li a:hover,
ul.pagination li a.selected {
  color: #fff;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #000;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
} */
